.form-login {
	width: 90%;
	margin: 2rem 1.75rem;
}

.check-remember {
	margin: 1rem 0rem;
}

.forgot-login {
	float: right;
	text-decoration: none;
}

.btn-login {
	margin-top: 2rem;
	width: 100%;
}
