.logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	min-height: 3.5rem;
	background-color: #46bb84;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 2.5rem;
	min-height: auto;
}

.logo img {
	width: 100%;
	height: auto;
}

.header-container {
	display: flex;
	flex-direction: row;
	justify-content: end;
	align-items: center;
	height: 100%;
	padding: 0;
	margin-right: 1rem;
}

.user-name {
	margin-right: 1rem;
}

.user-name span {
	font-size: 0.95rem;
	color: #4096ff;
	font-weight: 400;
}

.page-name {
	font-weight: 500;
}

.breadcrumb-item {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.breadcrumb-item-title {
	margin-left: 0.25rem;
}

.site-layout {
	margin-left: 220px; /* Set the initial width of the Sider */
	transition: margin-left 0.3s;
}

.site-layout.collapsed {
	margin-left: 80px; /* Set the width of the Sider when collapsed */
}
